<!-- Footer -->
<footer class="page-footer font-small back_naranja unique-color-dark ">

    <div>
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0"><strong>Conectate con nuestras redes sociales!</strong></h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fa fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fa fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fa fa-google white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fa fa-linkedin white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fa fa-instagram white-text"> </i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Sala de Juegos</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando
                    el juego.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Juegos</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a routerLink="/juegos/adivina"><i class="fa fa-gamepad mr-3"></i>Adivina el Número</a></p>
                <p><a routerLink="/juegos/agilidad"><i class="fa fa-gamepad mr-3"></i>Agilidad Arismetica</a></p>
                <p><a routerLink="/juegos/anagrama"><i class="fa fa-gamepad mr-3"></i>Anagrama</a></p>
                <p><a routerLink="/juegos/ppt"><i class="fa fa-gamepad mr-3"></i>Piedra Papel Tijera</a></p>
                <p><a routerLink="/juegos/tateti"><i class="fa fa-gamepad mr-3"></i>TA TE TI</a></p>
                <p><a routerLink="/juegos/memotest"><i class="fa fa-gamepad mr-3"></i>Memotest</a></p>
                <p><a routerLink="/juegos/casaca"><i class="fa fa-gamepad mr-3"></i>Adivina la Casaca</a></p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Mis links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                <p>
                    <a class="ins-ic" href="https://github.com/danieldebrito?tab=repositories" target="_blank">
                        <i class="fa fa-github mr-4"> </i> <strong>github</strong>
                    </a>

                </p>
                <p>
                    <a class="fb-ic" href="https://www.facebook.com/profile.php?id=100008288854505" target="_blank">
                        <i class="fa fa-facebook-f white-text mr-4"> </i> <strong>facebook</strong>
                    </a>
                </p>
                <p>
                    <a class="tw-ic" href="https://twitter.com/gronchostyle" target="_blank">
                        <i class="fa fa-twitter white-text mr-4"> </i> <strong>twitter</strong>
                    </a>
                </p>

                <p>
                    <a class="li-ic" href="https://www.linkedin.com/in/danielrdebrito/" target="_blank">
                        <i class="fa fa-linkedin white-text mr-4"> </i> <strong>linkedin</strong>
                    </a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Datos</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-check mr-3"></i> Daniel Ruben de Brito</p>
                <p>
                    <i class="fa fa-check mr-3"></i> Laboratorio IV - 4B</p>
                <p>
                    <i class="fa fa-check mr-3"></i> Legajo 104437</p>
                <p>
                    <i class="fa fa-check mr-3"></i> danielrdebrito@gmail.com</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/danieldebrito?tab=repositories"> github.com/danieldebrito</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->