a {
    color: #515070;
    font-size: small;
    text-shadow: black;
}

.page-footer {
    font-size: medium;
    color: #515070;
    font-size: large;
    line-height: 25px;
}

h6 {
    font-size: large;
}